@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Raleway:wght@400;700&display=swap');

:root {
  --bg-navegation: #BE3144;

  --bg-welcome: #28292B;
  --bg-projects: #45567D;
  --bg-contact: #303841;

  --text-color: #ffffff;
  --text-secundary-color: #A62D31;

  --hover-text: #acacac;

  --primary-font: 'Poppins', sans-serif;
  --secundary-font: 'Raleway', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

#navbar {
  position: fixed;
  width: 100%;
  background-color: var(--bg-navegation);
  padding: 0 1.25rem 0 1.25rem;
}

#navbar ul {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  list-style: none;
}

#navbar ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 1.125rem;
}

#navbar ul li a:hover {
  background-color: var(--bg-projects);
}

#welcome-section {
  height: 100vh;
  background-color: var(--bg-welcome);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#welcome-section h1 {
  color: var(--text-color);
  font-size: 3.4rem;
  font-family: var(--secundary-font);
}

#welcome-section p {
  color: var(--text-secundary-color);
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
}

#projects {
  background-color: var(--bg-projects);
  padding: 5.625rem 2.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}

#projects h2 {
  color: var(--text-color);
  font-size: 2.4rem;
  border-bottom: 2px solid var(--text-color);
  padding: 0 1.25rem 0.3125rem 1.25rem;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#projects a {
  text-decoration: none;
  text-align: center;
}

#projects a img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#projects p {
  background-color: var(--bg-contact);
  color: var(--text-color);
  padding: 1.25rem 0;
  font-size: 1.188rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#projects p .code {
  color: var(--bg-contact);
  font-size: 1.25rem;
  transition: color 0.2s ease-out;
}

#projects a:hover .code {
  color: var(--bg-navegation);
}

#projects .btn {
  background-color: var(--bg-contact);
  color: var(--text-color);
  padding: 0.625rem 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background 0.3s ease-out;
}

#projects .btn:hover {
  background-color: var(--bg-navegation);
}

#contacts {
  display: flex;
  background-color: var(--bg-contact);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 7.5rem 0 10.625rem 0;
  border-bottom: 5px solid var(--text-secundary-color);
}

#contacts .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#contacts .text-box h2 {
  color: var(--text-color);
  font-family: var(--secundary-font);
  font-size: 3.56rem;
}

#contacts .text-box p {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-style: italic;
}

#contacts .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}

#contacts .contact a {
  text-decoration: none;
  color: var(--text-color);
  transition: color ease-out 0.2s;
}

#contacts .contact a:hover {
  color: var(--hover-text)
}

footer {
  background-color: var(--bg-contact);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.625rem 3.125rem;
  gap: 2.5rem;
}

footer p {
  color: var(--text-color);
  font-size: 1.188rem;
}

footer p a {
  text-decoration: none;
  color: var(--text-color);
}

footer p a:hover {
  color: var(--hover-text)
}

/* - - - - - Tablet - - - - - - - - */
@media(max-width: 880px) {
  * {
    font-size: 15px;
  }
}

/* - - - - - Mobile Grande - - - -  */
@media(max-width: 690px) {
  * {
    font-size: 14px;
  }

  #projects h2 {
    color: var(--text-color);
    font-size: 2rem;
    border-bottom: 2px solid var(--text-color);
    padding: 0 1.25rem 0.3125rem 1.25rem;
  }

  footer {
    background-color: var(--bg-contact);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1.5rem;
    gap: 2.5rem;
  }

  footer p {
    color: var(--text-color);
    font-size: 0.9rem;
  }
}

@media(max-width: 560px) {

  * {
    font-size: 12px;
  }

  #projects h2 {
    color: var(--text-color);
    font-size: 1.9rem;
    border-bottom: 2px solid var(--text-color);
    padding: 0 1.25rem 0.3125rem 1.25rem;
  }

  footer {
    background-color: var(--bg-contact);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1.5rem;
    gap: 2.5rem;
  }

  footer p {
    color: var(--text-color);
    font-size: 0.9rem;
  }
}

/* - - - - - Mobile Pequeno - - - - */
@media(max-width: 460px) {

  * {
    font-size: 10px;
  }

  #projects h2 {
    color: var(--text-color);
    font-size: 1.5rem;
    border-bottom: 2px solid var(--text-color);
    padding: 0 1.25rem 0.3125rem 1.25rem;
  }

  #contacts .text-box h2 {
    color: var(--text-color);
    font-family: var(--secundary-font);
    font-size: 2.8rem;
  }

  footer {
    background-color: var(--bg-contact);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1.5rem;
    gap: 2.5rem;
  }

  footer p {
    color: var(--text-color);
    font-size: 0.9rem;
  }
}